<!-- ICONOS http://ionicons.com/ -->
<ion-header>

  <ion-toolbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Trabajador
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon> <span>{{ p.title }}</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>

<ion-content>
  <ion-label text-center> Lista de Solicitudes </ion-label>
  <ion-card *ngFor="let solicitud of solicitudes">
    <img src="assets/img/Hogar.png"/>
    <ion-item>
        <ion-card-header>
          {{ solicitud.cliente.first_name }}
        </ion-card-header>
        <ion-card-content>
          <p>{{ solicitud.direccion }}</p>
          <p>{{ solicitud.fecha | date:'longDate' }}</p>
          <p>{{ solicitud.interes.nombre }}</p>
          <p>{{ solicitud.descripcion }}</p>
        </ion-card-content>
    </ion-item>

    <ion-row no-padding>
      <ion-col>
        <button ion-button icon-only clear light>
            <ion-icon name="checkmark"></ion-icon>
            Aceptar
        </button>
      </ion-col>
      <ion-col text-right>
         <button ion-button icon-only color="danger" clear danger>
            <ion-icon name="close"></ion-icon>
            Rechazar
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
