<ion-header>
  <ion-navbar text-center>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{trabajador.first_name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon> <span>{{ p.title }}</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>

<ion-content>
  <ion-label text-center> Lista de Solicitudes </ion-label>
  <section class='product-cards'>
    <ion-card class='card-product' *ngFor="let solicitud of solicitudes">
      <img src="assets/img/{{solicitud.interes.categoria.nombre}}.png"/>
      <ion-item>
          <ion-card-header>
            {{ solicitud.cliente.first_name }}
          </ion-card-header>
          <ion-card-content>
            <p>{{ solicitud.direccion }}</p>
            <p>{{ solicitud.interes.nombre }}</p>
            <p>Estado: {{ solicitud.estado }}</p>
          </ion-card-content>
      </ion-item>

      <ion-row no-padding *ngIf="solicitud.estado=='Pendiente'" >
        <ion-row>
          <ion-col text-center>
            <button ion-button icon-only clear light (click)="aceptarSolicitud( solicitud )">
                <ion-icon name="checkmark"></ion-icon>
                Aceptar
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
             <button ion-button icon-only color="danger" clear danger (click)="rechazarSolicitud( solicitud )">
                <ion-icon name="close"></ion-icon>
                Rechazar
            </button>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-card>
  </section>
</ion-content>
