<ion-header>

  <ion-navbar>
    <ion-title>Busqueda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form>
    <ion-list radio-group [(ngModel)]="categoria.nombre" name="categoria">
      <ion-list-header class='header'>Categoria</ion-list-header>
        <ion-item>
          <ion-label>Hogar</ion-label>
          <ion-radio value="hogar"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Alimentación</ion-label>
          <ion-radio value="alimentacion"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Belleza</ion-label>
          <ion-radio value="belleza"></ion-radio>
        </ion-item>
    </ion-list>
    <div [ngSwitch]="categoria.nombre">
      <ion-list  *ngSwitchCase="'hogar'" radio-group [(ngModel)]="interes.nombre" name="interes">
        <ion-list-header class='header'>Hogar</ion-list-header>
          <ion-item *ngFor="let x of areas_interes['Hogar']">
            <ion-label>{{x}}</ion-label>
            <ion-radio value="{{x}}"></ion-radio>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'alimentacion'" radio-group [(ngModel)]="interes.nombre" name="interes">
        <ion-list-header class='header'>Alimentacion</ion-list-header>
          <ion-item *ngFor="let x of areas_interes['Alimentacion']">
            <ion-label>{{x}}</ion-label>
            <ion-radio value="{{x}}"></ion-radio>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'belleza'" radio-group [(ngModel)]="interes.nombre" name="interes">
        <ion-list-header>Belleza</ion-list-header>
          <ion-item *ngFor="let x of areas_interes['Belleza']">
            <ion-label>{{x}}</ion-label>
            <ion-radio value="{{x}}"></ion-radio>
          </ion-item>
      </ion-list>
    </div>
    <ion-item>
      <button class='resultados-button' (click)="goToResults()" >Ver Resultados</button>
    </ion-item>
  </form>
</ion-content>
