page-home {
  #logo{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    //padding: 10px;
  }

  #registrar{
    width: 40%;
    float: right;
  }
  #ingresar{
    width: 40%;
    float: left;
  }
}
