<ion-header>

  <ion-toolbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{cliente.first_name}}
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon> <span>{{ p.title }}</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>


<ion-content>

  <ion-label text-center> Lista de Solicitudes </ion-label>
  <ion-card *ngFor="let solicitud of solicitudes">
    <ion-item>
      <img src="assets/img/Hogar.png"/>
        <ion-card-header>
          {{ solicitud.trabajador.first_name }}
        </ion-card-header>
        <ion-card-content>
          <p>{{ solicitud.direccion }}</p>
          <p>{{ solicitud.fecha | date:'longDate' }}</p>
          <p>{{ solicitud.interes.nombre }}</p>
          <p>Estado: {{ solicitud.estado }} </p>
        </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-fab bottom right >
    <button ion-fab (click)=buscar()><ion-icon name="add" md="md-add"></ion-icon></button>
  </ion-fab>
</ion-content>
