page-cliente {

  .background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #00A9F3;
  }
  // Borrar
  h1{
    color: white;
  }

  .product-cards {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-product {
      margin: 10px;
      display: flex;
      flex-direction: column;


      // width: calc(100% - 10px);
      width: 40%;
      @for $i from 2 through 5 {
        @media all and (min-width: #{300px * ($i)}) {
          width: calc(#{(100% / $i)} + 10px);
        }
      }

      ion-card-header > h2{
        font-weight: bold;
        color: #488aff;
        white-space: normal;
      }

      ion-item {
        margin-top: auto;
      }

      img {
        width: 100%;
      }
    }
  }

}
