<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title text-center>
      {{cliente.first_name}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon> <span>{{ p.title }}</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>


<ion-content>
  <ion-label text-center> Lista de Solicitudes </ion-label>
  <section class='product-cards'>
    <ion-card class='card-product' *ngFor="let solicitud of solicitudes">
      <img src="assets/img/{{solicitud.interes.categoria.nombre}}.png"/>
      <ion-item>
          <ion-card-header>
            <p>Trabajador:</p>
            <p>{{ solicitud.trabajador.first_name }}</p>
          </ion-card-header>
          <ion-card-content>
            <p>{{ solicitud.interes.nombre }}</p>
            <p>{{ solicitud.direccion }}</p>
            <p>Estado: {{ solicitud.estado }} </p>
          </ion-card-content>
      </ion-item>

      <ion-row no-padding *ngIf="solicitud.estado=='Aceptada'" >
        <ion-col text-center>
          <button ion-button icon-only clear light (click)="finalizarSolicitud( solicitud )">
              <ion-icon name="checkmark"></ion-icon>
              Finalizar
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </section>

  <ion-fab bottom right >
    <button ion-fab (click)=buscar()><ion-icon name="add" md="md-add"></ion-icon></button>
  </ion-fab>
</ion-content>
